@use "sass:map";

$palette: (
  "teal": #00ffd9,
  "purple": #a374ff,
  "khaki": #ffd074,
  "white": #ecf7fa,
  "black": #050505,
  "ochre": #ff4e20,
  "pastel": #fdfd96,


  // "primary-highlight": #DC4D4D,
  "primary-highlight": #1db954,
  "secondary-highlight": #8982ee,
  // "primary-highlight": #ff4e20,


  "primary-highlight-tint": rgba(85, 202, 122, 0.11) ,
  // "secondary-highlight": rgb(187, 255, 0),
  // "secondary-highlight": #fdfd96,
  // "secondary-highlight": #a374ff,
  
  "background": #121212,
  // "background": #050505,
  "dark-background": #000000,
  "light-background": #181818,
  "lightest-background": #262626,
  "fancy-background": lighten(#0a192f, 40%),
  "shadow": rgba(#000000, 0.1),


  "dark-foreground": #434343,
  // "foreground": #a9a9a9,
  "foreground": #a9a9a9,
  "light-foreground": #c1bed0,
  "lightest-foreground": #ffffff,
);

@function color($color-name) {
  $result: map.get($palette, $color-name);
  @return $result;
}
