@use "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  text-size-adjust: 100%;
}

ul {
  list-style: none;
}

body, html {
  font-family: 'SF Pro Text', sans-serif;;
  font-weight: 400;
  font-size: clamp(12px, 3vw, 40px);
  background: colors.color("background");
  color: colors.color("light-foreground");
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(100px);
  z-index: 2;
}

#tracker {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  width: min(500px, 50vw);
  aspect-ratio: 1/1;
  background: colors.color("foreground");
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
  animation: rotate 10s ease-in-out infinite;
  filter: blur(100px);
}

@keyframes rotate {
  to {
    rotate: 360deg;
  }
  from {
    rotate: 0deg;
  }
}

#main {
  z-index: 3;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;;
}



.app-container {
  background: rgba(colors.color("background"), 0.90);
  padding: 30px;
  border-radius: 10px;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  & > * {
    width: min(100%, 1080px);
    margin: 30px auto;

    &:not(.posts, .nav, .search-bar) {
      margin: auto;
    }
  }
}

.nav {
  margin: 20px auto 30px auto;
  border-radius: 10px;
  background: none;
  padding: 20px;
  height: 70px;
  width: 100%;
  position: sticky;
  z-index: 4;

  border: 1px solid colors.color("lightest-background");
  border-radius: 20px;
  padding: 20px;
  transition: all 0.5s ease-out;

  display: inline-flex;
  justify-content: space-between;

  max-width: 1080px;


  &:hover {
    background: rgba(colors.color("lightest-background"), 0.4);
    border: 1px solid colors.color("dark-foreground");
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: clamp(200px, 50vw, 300px);
    float: right;
    background: rgba(colors.color("background"), 0.8);
    border-radius: 10px;
    padding: 5px;
    transition: all 1s ease-out;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 5;
    height: min(fit-content, 15em);
    overflow-y: scroll;
    transition: all 0.5s ease-in-out;

    
    &.hidden {
      height: 0;
      background: none;
    }
    
    // add shadow effect on hover
    &:hover {
      box-shadow: 0 0 10px rgba(colors.color("secondary-highlight"), 0.2);
    }
    
    
    li {
      list-style: none;
      width: 100%;
      position: relative;
      margin: 10px 0;
      padding: 0 10px;


      
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: rgba(colors.color("secondary-highlight"), 0.4);
        transition: all 0.5s ease-out;
        pointer-events: none;
      }

      &:hover::after {
        height: calc(0.5rem + 10px);
      }

      .nav-link {
        color: colors.color("light-foreground");
        text-decoration: none;
        line-height: 1.5;
        text-transform: uppercase;
        font-size: 16px;
        font-family: 'SF Mono', monospace;
        font-weight: 600;
        display: block;
        width: 100%;

        &.active {
          color: colors.color("primary-highlight");
        }
      }
    }
  }

}

.route-text {
  color: colors.color("lightest-foreground");
  font-weight: 600;
  font-size: clamp(10px, 0.7rem, 20px);
  text-align: center;
  margin-bottom: 10px;
}

.posts {
  width: min(100%, 1080px);
  background: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.post { 
  border: 1px solid colors.color("lightest-background");
  border-radius: 20px;
  padding: 20px clamp(20px, 15%, 150px);
  transition: all 0.5s ease-out;

  &:hover {
    background: rgba(colors.color("lightest-background"), 0.4);
    border: 1px solid colors.color("dark-foreground");
    cursor: pointer;
  }

  & > * {
    pointer-events: none;
  }

  .post-title {
    font-size: 20px;
    font-weight: 600;
    color: colors.color("primary-highlight");
    margin-bottom: 10px;
    width: fit-content;
    margin: 10px 0;
    text-transform: capitalize;
  }

  .post-cover {
    max-height: 400px;
    width: auto;
    width: 100%;
    max-width: 100%;
    background: rgba(colors.color("background"), 0.8);
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .post-content {

    margin: 30px 0 10px 10px;
    flex-direction: column;

    :is(h1, h2, h3) {
      color: colors.color("lightest-foreground");
      margin: 10px 0;
      text-transform: capitalize;
    }

    h1 {
      font-size: 20px;
      font-weight: 600;
      width: fit-content;
    }

    h2 {
      font-size: 17px;
      font-weight: 600;
      margin-bottom: 10px;
      width: fit-content;
    }

    h3 {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 10px;
      width: fit-content;
    }

    :is(p, ul, ol) {
      font-size: 14px;
      line-height: 2;
    }

    ul {
      list-style: disc;
      margin-left: 20px;
    } 

    a {
      color: colors.color("primary-highlight");
      text-decoration: none;
      pointer-events: all;
      position: relative;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 1px;
        background: colors.color("primary-highlight");
        transition: all 0.5s ease-out;
        pointer-events: none;
      }

      &:hover::after {
        width: 100%;
      }
    }

  }
}

.new-post {
  margin: auto;
  vertical-align: middle;
  justify-self: center;
  align-self: center;
  max-width: 1080px;

  display: flex;
  flex-direction: column;
  border: 1px solid colors.color("lightest-background");
  padding: 40px;
  border-radius: 10px;

  transition: all 0.5s ease-out;

  &:hover {
    background: rgba(colors.color("lightest-background"), 0.4);
    border: 1px solid colors.color("dark-foreground");
  }

  .new-post-page-title {
    font-size: clamp(10px, 0.7rem, 20px);
    font-weight: 600;
    color: colors.color("primary-highlight");
    margin-bottom: 10px;
    width: fit-content;
    margin: 10px 0;
    text-transform: capitalize;
  }
  
  .title-input {
    width: 100%;
    padding: 10px;;
    background: none;
    border: none;
    color: colors.color("lightest-foreground");
    line-height: 3;
    border-bottom: 1px solid colors.color("lightest-background");

    // remove highlight on focus
    &:focus {
      outline: none;
    }
  }

  .content-input {
    width: 100%;
    height: 200px;

    background: none;
    border: none;
    color: colors.color("lightest-foreground");

    border-top: 1px solid colors.color("lightest-background");

    border-bottom: 1px solid colors.color("lightest-background");
    border-radius: 10px;
    padding: 10px;
    // remove highlight on focus
    &:focus {
      outline: none;
    }
  }

  .tags-input {
    width: 100%;
    background: none;
    border: none;
    color: colors.color("lightest-foreground");
    padding: 10px;
    line-height: 3;
    border-bottom: 1px solid colors.color("lightest-background");
    margin-bottom: 30px;


    // remove highlight on focus
    &:focus {
      outline: none;
    }
  }
}

.current-tags {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;


  .current-tag {
    background: rgba(colors.color("primary-highlight"), 0.3);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: clamp(10px, 0.7rem, 15px);
    font-weight: 600;
    color: colors.color("lightest-foreground");
    font-family: "SF Mono", monospace;
    font-weight: 300;
    
    &::before {
      content: "#";
    }
  }
}

.post-buttons {
  display: inline-flex;
  gap: 30px;
  pointer-events: none;
}

.app-button {
  width: fit-content;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background: rgba(colors.color("primary-highlight"), 0.5);
  pointer-events: all;

  &:hover {
    cursor: pointer;
  }
}

.logo-button {
  width: fit-content;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background: rgba(colors.color("primary-highlight"), 0.5);
  pointer-events: all;

  &:hover {
    cursor: pointer;
  }
}

.app-svg {
  height: 30px;
  aspect-ratio: 1/1;
}

.search-bar {
  width: min(100%, 1080px);
  color: inherit;

  .search-bar-input {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    color: colors.color("lightest-foreground");
    line-height: 3;
    border-bottom: 1px solid colors.color("lightest-background");
    transition: all 0.5s ease-in-out;

    &::placeholder {
      color: colors.color("dark-foreground");
      transition: all 0.5s ease-in-out;
    }

    // remove highlight on focus
    &:focus {
      outline: none;
    }

    &:hover {
      // border-bottom: 1px solid colors.color("primary-highlight");

      border-bottom: 1px solid colors.color("dark-foreground");

      &::placeholder {
        color: colors.color("light-foreground");
      }
    }
  }
}






@font-face {
  font-family: 'SF Pro Text';
  src: url("/fonts/SF-Pro/SF-Pro-Text-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

// SF Mono
@font-face {
  font-family: 'SF Mono';
  src: url("/fonts/SF-Mono/SFMono-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Mono';
  src: url("/fonts/SF-Mono/SFMono-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Mono';
  src: url("/fonts/SF-Mono/SFMono-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
